.homebg{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(../../assets/images/home.jpg);
    background-size: cover;
    height: 100vh;
}
.middle{
    margin: 40vh;
}
.earthlings{
    font-size: 18px;
    color: white;
    margin-bottom: -20px;
}
.myName{
    color: white;
    font-size: 72px;
    margin-top: 0;
}
.myName span:after,
.myName span:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
    padding: 20px;
}